@font-face {
  font-family: "JoseonGulim";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  font-family: JoseonGulim;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-image: url("../images/canyon-9765223.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  color: white;
}

.container {
  display: flex;
}

header {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  color: rgb(255, 255, 255);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-weight: bold;
  text-align: center;
}

header h1 {
  margin: 5px;
  font-size: 1.5em;
}

.sidebar {
  width: 200px;
  background-color: #1100003a;
  padding: 20px;
  height: 100vh;
}

.sidebar h3 {
  margin-top: 0;
  color: #ffffff;
  font-size: 1.7rem;
  margin-bottom: 15px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li a {
  display: block;
  padding: 6px;
  text-decoration: none;
  color: #ffffff;
}

.sidebar li a:hover {
  background-color: #919191;
  border-radius: 10px;
  transition: background-color 0.4s, transform 0.3s ease;
  transform: scale(1.1);
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 200px;
}

.logo-container__menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 150px;
  margin-top: 20px;
}

.logo-container__menu li {
  position: relative;
  width: 250px;
  height: 250px;
  transition: all 0.3s ease;
}

.logo-container__menu img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.logo-container__title {
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 12px rgba(0, 0, 0, 1);
  opacity: 0.4;
  transition: opacity 0.5s ease;
  pointer-events: none;
  font-size: 45px;
  font-weight: bolder;
}

.logo-container__menu li:hover {
  transform: scale(1);
}

.logo-container__menu li {
  position: relative;
  width: 250px;
  height: 250px;
  transition: all 0.5s ease;
  transform: scale(0.7);
  list-style: none;
}

.logo-container__menu li:hover .logo-container__title {
  opacity: 1;
}

.logo-container__menu li:hover img {
  opacity: 0.8;
}

.logo-container :hover {
  transition: all 0.5s ease;
  transform: scale(1.3);
}

footer {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  padding: 20px 0;
  width: 100%;
}

footer p {
  margin: 5px 0;
  font-size: 14px;
}

hr {
  margin: 8px;
}

#main-menu li {
  margin-bottom: 5px;
}

#link-list li {
  margin-bottom: 1px;
}

@media (max-width: 1023px) {
}

@media (max-width: 767px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
  }

  .main-content {
    width: 100%;
  }
}
