@font-face {
  font-family: "JoseonGulim";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  font-family: JoseonGulim;
  margin: 0;
  padding: 0;
}
